<h1>Welcome to the <%=@team.name%> Team Portal</h1>

<h3>Players Roster</h3>
<% if @team.players.empty?%>
    <p>None added</p>
<% else %>
    <ol>
        <%@team.players.each do |player|%>
            <li><a href="/team/<%=@team.slug%>/player/<%=player.slug%>"><%=player.name%></a></li>
        <%end%>
    </ol>
<% end %>
<br>
<br>
<% if @user.super_user? %>
    <h3>Admin Privileges</h3>
    <a href="/team/<%=@team.slug%>/player/new_player">Add Player</a>
    <br>
    <a href="/admin">Back to Admin console</a>
<%end%>

<br>
<br>

<form action="/logout" method="POST">
    <input type="submit" value="Logout" id="logout">
</form>

