<h2><%=@staff.name%> Profile</h1>

<h5>Role:</h5>
<p><%=@staff.role%></p>

<br>

<h5>Salary Range:</h5>
<p><%=@staff.salary.range%></p>

<br>

<p><a href="/team/<%=@staff.team.slug%>/staff/<%=@staff.slug%>/edit">Edit Details for <%=@staff.name%></a></p>
<br>
<form action="/team/<%= @staff.team.slug%>/staff/<%=@staff.slug%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete <%=@staff.name%>">
</form>
<br>
<p><a href="/team/<%=@staff.team.slug%>">Back to team portal</a></p>


