<h2>User Profile Page.</h2>

<p>You are logged in as <%=@logged_in_user.username%></p>
<br>
<h4>Username: <% if @selected_user == @logged_in_user || @logged_in_user.super_user?%>
    (<a href="/user/edit">Change username</a>)
<%end%></h4>  
<p><%=@selected_user.username%></p>

<br>

<h4>Email: <% if @selected_user == @logged_in_user || @logged_in_user.super_user?%>
    (<a href="/user/edit">Change email</a>)
<%end%></h4>
<a href="mailto:<%=@selected_user.email%>"><%=@selected_user.email%></a>
<br>
<br>
<br>
<a href="/team/<%=@selected_user.team.slug%>">Back to team homepage</a>
<br>
<br>
<!-- ONLY ALLOW ADMIN TO DELETE USER -->
<% if @logged_in_user.super_user?%>
    <h3>Admin Privilege</h3>
    <form action="/user/<%= @selected_user.slug%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete user profile">
    </form>
    <br>
    <p><a href="/admin">Back to admin console</a></p>
<%end%>



