<!--EDIT PLAYER PAGE -->

<h2>Edit <%=@player.name%> Details</h2>
<br>
<!--DISPLAY ERROR MESSAGES IF ANY-->
<br>
<%= @error_message if !!@error_message%>
<br>
<section>
    <!--DISPLAY CURRENT DETAILS-->
    <h3>Current: </h3>
    <h4>Name: <%=@player.name%></h4>
    <h4>Birthyear: <%=@player.birth_year%></h4>
    <h4>Position: <%=@player.position.position%></h4>
    <h4>Salary: <%=@player.salary.amount%></h4>
    
    <!--SEASON STATS TABLE-->
    <h3><%=Time.now.year%> Season Targets: </h3>
    <h4>Goals</h4>
    <table style="width:50%">
    <tr>
        <th><%=Time.now.year%> Goals Target</th>
        <th>Season Goals To Date</th>
        <th>Differential</th>
    </tr>
    <tr>
        <td><%=@player.GoalTarget.target%></td>
        <td><%=@player.goals%></td>
        <td><%=@player.goals - @player.GoalTarget.target%></td> 
    </tr>
    </table>
    <br>
    <h4>Assists</h4>
    <table style="width:50%">
    <tr>
        <th><%=Time.now.year%> Assists Target</th> 
        <th>Season Assists To Date</th>
        <th>Differential</th>
    </tr>
    <tr>
        <td><%=@player.AssistTarget.target%></td> 
        <td><%=@player.assists%></td> 
        <td><%=@player.assists - @player.AssistTarget.target%></td> 
    </tr>
    </table>
    <br>
    <br>
</section>

<form action="/team/<%=@team.slug%>/player/<%=@player.slug%>" method="POST">
    <!-- METHOD CHANGE TO PATCH -->
    <input id="hidden" type="hidden" name="_method" value="patch">

    <!--Name edit-->
    <h3>Player Basic Info:</h3>
    <label for="name">Name (leave blank if no changes needed):</label>
    <input type="text" id="name" name="player[name]">
    <br>
    <!--Birthyear edit-->
    <label for="birth_year">Birth year(leave blank if no changes needed):</label>
    <input type="text" id="birth_year" name="birth_year">
    <br>
    <!--Position edit-->
    <h3>Player Position (leave blank if no changes needed):</h3>
    <%@positions.each do |position|%>
        <input type="radio" name="player[position_id]" value="<%=position.id%>" id="<%=position.id%>"> <%=position.position%></input>
    <%end%>
    <br>
    <br>
    <!--Season Stats-->
    <h3>Season statistics and goals (leave blank if no changes needed)</h3>
    <label for="goals_target">Goals target:</label>
    <input type="text" id="goals_target" name="goals_target">
    <label for="goals_to_date">Goals to date:</label>
    <input type="text" id="goals_to_date" name="goals_to_date">
    <br>
    <label for="assists_target">Assists target:</label>
    <input type="text" id="assists_target" name="assists_target">
    <label for="assists_to_date">Assists to date:</label>
    <input type="text" id="assists_to_date" name="assists_to_date">
    <br>
    <br>
    <!--Salary edit-->
    <h3>Salary (leave blank if no changes needed):</h3>
        <%@salary.all.each do |salary|%>
            <input type="radio" name="player[salary_id]" value="<%=salary.id%>" id="<%=salary.id%>"> <%=salary.amount%></input>
        <% end %>
    <br>
    <br>
    <p> Or Create new salary:</p>
    <label for="salary">New salary:</label>
    <input type="text" id="name" name="player[salary]">
    <br>
    <br>

    <input type="submit" value="Update <%=@player.name%>">

</form>
<br>
<br>
<p><a href="/team/<%=@team.slug%>">Back to team portal</a></p>