<!--EDIT PLAYER PAGE -->

<h2>Edit <%=@player.name%> Details</h2>
<br>
<form action="/team/<%=@team.slug%>/player" method="POST">
    <!-- METHOD CHANGE TO PATCH -->
    <input id="hidden" type="hidden" name="_method" value="patch">

    <label for="name">Name:</label>
    <input type="text" id="name" name="player[name]">
    <br>
    <h3>Player Position(s):</h3>
    <%@positions.each do |position|%>
        <input type="checkbox" name="positions[]" value="<%=position.id%>" id="<%=position.id%>" <%='checked' if @player.positions.include?(position) %>> <%=position.position%></input>
        <br>
    <%end%>

    <!--Salary ranges as checkboxes-->
    
    <h3>Salary Range</h3>
    <%@salary_ranges.each do |range|%>
        <input type="radio" name="player[salary_id]" value="<%=range.id%>" id="<%=range.id%>"> <%=range.range%></input>
        <br>
    <%end%>
    <br>
    <br>

    <input type="submit" value="Update <%=@player.name%>">

</form>
<br>
<br>
<p><a href="/team/<%=@team.slug%>">Back to team portal</a></p>